{{ define "create" }}

<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">Go web-site</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
                <a class="nav-link" href="/create/">Создать пост</a>
            </nav>
        </div>
    </header>



    <main role="main" class="inner-cover">
        <h1 class="cover-headding">Форма добавления статьи</h1>
        <form action="/save_article" method="post">
            <input type="text" name="title" id="titel" placeholder="Введите названия статьи" class="form-control"><br>
            <textarea name="anons" id="anons" class="form-control" placeholder="Введите анонс статьи"></textarea><br>
            <textarea name="full_text" id="full_text" class="form-control" placeholder="Введите текст статьи"></textarea><br>
            <button class="btn btn-warning">Добавить</button>

        </form>

    </main>




    <footer class="mt-auto text-white-50">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
    </footer>
</div>

</body>
</html>

{{ end }}